/* Use Open Sans as the default sans serif font. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700');

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ececec;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --bs-body-font-family: 'Oswald', sans-serif !important;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

html, body {
  height: 100%;
}

/* Set the alert background on the signin and signup pages. */

#signin-page .alert-light,
#signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Custom styles for the dashboard page */
#dashboard-screen {
  height: 100%;
  width: 100%;
  margin: 0;
}

#filter-border {
  border-style: solid;
  border-color: lightgray;
}

#dashboard-list thead {
  position: sticky;
  top: 0;
  margin: 0 0 0 0;
  background-color: white;
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

/*  not sure how to do the bootstrap attributes (eg --bs-accordion-active-bg) in the .jsx files so these stay here for now -Rob */
.introducerAccordion .accordion-button {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
  font-size: small;
  text-align: center !important;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 0;
}

.billAccordion .accordion-body {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
  z-index: 0;
  margin: 0 auto;
  font-size: 13px;
  padding: 0;
}

.billAccordion .accordion-button {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
  z-index: 0;
  margin: 0 auto;
  padding: 0;
}

.introducerAccordionList .accordion-body {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
  z-index: 0;
  margin: 0 auto;
  padding: 0;
}

.introducerAccordionList .accordion-button {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
  z-index: 0;
  margin: 0 auto;
  padding: 0;
}

.accordion {
  --bs-accordion-bg: transparent !important;
}

.accordion-button:focus {
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: transparent;
}

.accordion-body {
  padding: 0 !important;
}

.logInButton .btn-primary {
  width: 100%;
  font-weight: bold;
  --bs-btn-bg: #2e374f;
  --bs-btn-border-color: #242c41;
  --bs-btn-hover-border-color: #333f59;
  --bs-btn-hover-bg: #37425e;
}

.halpButton .btn-primary {
  --bs-btn-bg: #2e374f;
  --bs-btn-border-color: #242c41;
  --bs-btn-hover-border-color: #333f59;
  --bs-btn-hover-bg: #37425e;
}

.pdfFiller .form-control {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0 #e3e3e3;
}

.testimonyName .form-control {
  margin-top: 20px;
  font-weight: bold;
  font-size: x-small;
  text-transform: uppercase;
  text-align: center;
}

.testimonyTitle .form-control {
  top: -20px;
  position: relative;
  font-size: x-small;
  text-transform: uppercase;
  text-align: center;
}

.testimonyAddress {
  font-size: small;
  line-height: 1.2em;
}

.testimonyHearingInfo .form-control {
  display: inline;
  width: auto;
}

.pdfFiller .form-control::placeholder {
  color: black;
}

.doePosition .form-control::placeholder {
  color: gray;
}

#generatePdfButton {
  padding-left: 10px;
  --bs-btn-border-width: 0;
  --bs-btn-color: black;
  --bs-btn-bg: #F7F7F7;
  --bs-btn-disabled-color: gray;
  --bs-btn-disabled-bg: F7F7F7;
  --bs-btn-hover-color: gray;
  --bs-btn-hover-bg: #F7F7F7;
  --bs-btn-focus-shadow-rgb: #F7F7F7;
  --bs-btn-active-color: #gray;
  --bs-btn-active-bg: #F7F7F7;
  --bs-btn-active-border-color: #F7F7F7;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-border-color: #F7F7F7;
}

.testimonyNavbarButtons .btn-primary {
  padding-left: 10px;
  --bs-btn-border-width: 0;
  --bs-btn-color: black;
  --bs-btn-bg: #F7F7F7;
  --bs-btn-disabled-color: gray;
  --bs-btn-disabled-bg: F7F7F7;
  --bs-btn-hover-color: gray;
  --bs-btn-hover-bg: #F7F7F7;
  --bs-btn-focus-shadow-rgb: #F7F7F7;
  --bs-btn-active-color: #gray;
  --bs-btn-active-bg: #F7F7F7;
  --bs-btn-active-border-color: #F7F7F7;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-border-color: #F7F7F7;
}

.testimonyNavbarButtons .bth.disabled, .btn:disabled {
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: F7F7F7;
  --bs-btn-border-width: 0;
}

#navBar {
  width: 15%;
  color: #418c5c;
}

#mainBody {
  margin-left: 135px;
  width: calc(100% - 135px);
  z-index: 0;
}

#mobileMainBody {
  margin-left: 60px;
  z-index: 0;
  font-size: 12px;
}

.expandedNavbar {
  width: 60px;
}
